.sidebar {
    max-width: 300px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: left 0.2s ease-in-out;
}

.main {
    margin-left: 300px;
    /* overflow-y: auto; */
    transition: margin-left 0.2s ease-in-out;
}

.sidebar-hide.sidebar {
    left: -300px;
}

.sidebar-hide.main {
    margin-left: 0;
}

.toggle-sidebar__wrapper {
    position: absolute;
    top: 0;
    left: 300px;
    height: 100vh;
}

.toggle-sidebar {
    width: 20px;
    height: 100px;
}